<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Le Dictionnaire simple du code</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
<div id="bloc_page">
	<header>
		<div class="header_top_part">
			<div th:insert="menu.html"></div>
		</div>
		<div class="header_bottom_part">
			<h1>BIENVENUE</h1>
		</div>
	</header>

	<div class="row" id=home_articles_setion>

		<div class="col-sm-4">
			<img class="img-fluid" width="500" height="400"
				 src="\imagesAndLogos\images\paguaille.jpg">
		</div>
		<div class="col-sm-6" id="text_article">
			<h2>Vous avez du mal à trouver des informations ou des exemples de programme? Ce site répondra à vos
				questions!</h2>

		</div>


		<div class="col-sm-4">
			<img class="img-fluid" width="500" height="400"
				 src="\imagesAndLogos\images\chercher.jpg">
		</div>
		<div class="col-sm-6" id="text_article">
			<h2>Il est parfois difficile de savoir ce que l'on recherche tellement le sujet de la programmation est
				vaste.
			</h2>
			<p>C'est dans l'optique de facilité
				l'accés et l'érgonomie de la recherche que ce site fut mis en place. Vous trouverez ainsi facilement sur ce
				site les bases pour bien programmer.
				Des résumés clair des bases de la programmation seront disponible accompagné d'exemple pour facilité la
				compréhension et l'intégration des connaissances </p>
		</div>



		<div class="col-sm-4">
			<img class="img-fluid" width="500" height="400"
				 src="\imagesAndLogos\images\informatique.jpg" alt="informatique.jpg">
		</div>
		<div class="col-sm-6 " id="text_article">
			<h2>Bon courage dans votre aventure de développeur.e/programmeur.e
				qui commence par une simple inscription!</h2>
		</div>


	</div>


</div>
</body>
</html>